# App
data.json
__pycache__/
*.pyc
*.pem
.env
venv/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# SSH Private Key - NEVER push this!
terraform/budgetflow-key.pem

# Ansible
ansible/*.retry

# OS
.DS_Store
Thumbs.db